* {
    box-sizing: border-box;
}

main {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border: 5px solid black;
    border-radius: 20%;
}


div {
    display: inline-block;
    font-size: 2rem;
    
}

label {
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 20%;
}

section{
    margin: 0 0 0 0;

}

.players text {
    display: inline-block;
    margin: 1% 1% 1% 1%;
    border: solid black;
    border-style: double;
    font-size: 2rem;
}

.winCounters text {
    display: inline-block;
    margin: 1% 1% 1% 1%;
    border: solid black;
    border-style: double;
    font-size: 2rem;
}

.box {
    width: 50px;
    height: 50px;
    border: 5px solid black;
}


.winOrDrawMessage {
    font-size: 2rem;
}

button {
    font-size: 2rem;
    cursor: pointer;
}
.red {
    background-color: red;
}

.green {
    background-color:lightgreen;
} 

/* .resetButton {
    background-color: white;
}

.button {
    background-color: lightgrey;
} */