* {
    box-sizing: border-box;
}

main {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    border: 5px solid black;
    border-radius: 20%;
    
}

.flip-horizontally {
    transform: scaleX(-1);
  }

  img {
    width: 60px;
    height:60px;
  }

div {
    display: inline-block;
    font-size: 2rem;
    
}

label {
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 20%;
}

section{
    margin: 0 0 0 0;

}


.players text {
    display: inline-block;
    margin: 1% 1% 1% 1%;
    border: solid black;
    border-style: double;
    font-size: 2rem;
}

.winCounters text {
    display: inline-block;
    margin: 1% 1% 1% 1%;
    border: solid black;
    border-style: double;
    font-size: 2rem;
}

.box {
    width: 50px;
    height: 50px;
    border: 5px solid black;
}


.winOrDrawMessage {
    font-size: 2rem;
}

.button {
    font-size: 2rem;
    cursor: pointer;
    width: 10%;
}

button {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 2rem;
    cursor: pointer;

}
.red {
    background-color: red;
}

.green {
    background-color:lightgreen;
} 

/* .resetButton {
    background-color: white;
}

.button {
    background-color: lightgrey;
} */


  
div.at-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.at-item {
    color: black;
    animation-name: slide-out-elliptic-bottom-fwd;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}
@keyframes slide-out-elliptic-bottom-fwd {
    0%{
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 500px;
        transform-origin: 50% 500px;
        opacity: 1;
        }
    100%{
        -webkit-transform: translateY(600px) rotateX(-20deg) scale(6);
        transform: translateY(600px) rotateX(-20deg) scale(6);
        -webkit-transform-origin: 50% -100%;
        transform-origin: 50% -100%;
        opacity: 0;
        }
}
  
